<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Vinuta/IdeaProjects/MVM/my-maven-prj">
        <classes>

            <class name="com.mavenprj.demo.AppTest">
                <methods>
                    <include name="shouldAnswerWithTrue"/>
                </methods>
            </class>

            <class name="com.mavenprj.demo.TestExample1">
                <methods>
                    <exclude name="Test1"/>
                    <include name="Test2"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>